#root {

}

.app-container{
  display: grid;
  /*grid-template-rows: 12rem 5rem auto;*/
  min-height: 100vh;
  /* temp width while fixing side scroll */
  width: 95vw;
}


@media only screen and (max-width: 600px) {
  /* For mobile: */
}

@media only screen and (max-width: 768px){
  /* For tablets: */
}