:root {
  /* Overall Variables */
  margin: 0;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-bg: #242424;
  --color-link: #646cff;
  --color-link-hover: #535bf2;

  /* button variables */
  --btn-bg: #46cac9;
  --btn-bg-gradient-start: #2aaeb0;
  --btn-bg-gradient-end: #268e94;
  --btn-border: #46cac9;
  --btn-color: #effcfb;
  --btn-bg-hover: #268e94;
  --btn-bg-hover-gradient-end: #257279;
  --btn-border-hover: #68d9d7;
  --btn-color-hover: #d7f6f5;

  /* State-Specific Variables */
  --btn-bg-disabled: #133339;
  --btn-color-disabled: #257279;
  --btn-border-disabled: #265c64;

  /* Answer Button Variables */
  --color-answer-correct: #027e09;
  --color-answer-correct-border:  #35fd3e;
  --color-answer-incorrect: #880000;
  --color-answer-incorrect-border: #C21F39;

  /* card variables */
  --card-bg-color: #244f55;
  --card-container-border: #133339;
  --card-container-border-outer: #257279;

  --color-text-footer: #effcfb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover);
}

body {
  background: var(--color-bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #effcfb;
    --color-bg: #effcfb;

    /*--color-text: rgba(255, 255, 255, 0.87);*/
    /*--color-bg: #242424;*/
    --color-link: #646cff;
    --color-link-hover: #535bf2;

    color: var(--color-text);

    --btn-bg: #2aacb0;
    --btn-bg-gradient-start: #2aaeb0;
    --btn-bg-gradient-end: #268c94;
    --btn-border: #133239;
    --btn-color: #effcfb;
    --btn-bg-hover: #268c94;
    --btn-bg-hover-gradient-end: #257179;
    --btn-border-hover: #68d9d7;

    /* State-Specific Variables */
    --btn-bg-disabled: #d7f6f5;
    --btn-color-disabled: #46c8ca;
    --btn-border-disabled: #133339;

    --card-bg-color: #2aaeb0;
    --card-bg-color-gradient: #268e94;
    --card-container-border: #133339;
    --card-container-border-outer: #46c8ca;

    --color-text-footer: #133339;
  }
  a:hover {
    color: var(--color-link-hover);
  }
  button {
    background-color: var(--color-bg);
  }

}

@media (max-width: 1024px){
  /* adjustments for tablets */
}

@media (max-width: 768px) {
  /* adjustments for mobile */
  body{
    /*font-size: .5em;*/
  }

}

@media (max-width: 480px){
  /* adjustments for smaller mobile devices */

}