.button{
    background-color: #2aaeb0;
    background-image: linear-gradient(to bottom, #268e94, transparent);
    border: 1px solid #46cac9;
    width: fit-content;
    font-color: #effcfb;
    font-size: large;
}
.button:hover{
    background-color: #268e94;
    background-image: linear-gradient(to bottom, #257279, transparent);
}
.button:disabled{
    background-color: #115e56;
    color: #244f55;
    border: 1px solid #244f55;
}

.answer{
    width: 30vw;
    height: 10vh;
}

.correctAnswer,
.correctAnswer:disabled{
    background-color: #027e09;
    border: solid 5px #35fd3e;
    width: 30vw;
    height: 10vh;
    color: #effcfb;
}

.incorrectAnswer,
.incorrectAnswer:disabled{
    background-color: #880000;
    background-image: linear-gradient(to bottom, #268e94, transparent);
    border: solid 5px #C21F39;
    width: 30vw;
    height: 10vh;
    color: #effcfb;
}