.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1em;
    margin-bottom: 1em;
    grid-auto-rows: minmax(6rem, auto);
    align-items: center;
    border-top: 2px solid var(--card-container-border-outer);
    border-bottom: 2px solid var(--card-container-border-outer);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--card-container-border);
    border-radius: 10px / 10px;
    background-color: var(--card-bg-color);
    padding: 1.5em;
    width: 63vw;
    height: 42vh;
    grid-column: 2;
    justify-content: space-between;
}
.questionSection,
.postQuestion{
    margin-bottom: 1rem;
    display: grid;
    justify-content: start;
    max-height: 4.5rem;
}
.postQuestion{
    font-size: clamp(1rem, 1.5rem, 2rem);
}
.controlsLeft,
.controlsRight{
    display: grid;
    margin-top: 1em;
    justify-content: center;
    align-content: center;
    min-height: fit-content;
}

.answerBox{
    width: 100%;
}

.flipCard {
    perspective: 1000px;
    height: 35vh;
    width: 50vw;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCard.is-flipped .flipCardInner {
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cardBack {
    transform: rotateY(180deg);
}

@media (max-width: 480px){
    .container{
        display: inline-block;
        justify-items: center;
    }

    .card{
        display: inline-grid;
        border-radius: 1em / 1em;
        padding: 1em;
        margin: 1em;
    }
    .controlsLeft,
    .controlsRight{
        display: block;
        margin-top: 0;
    }
    .questionSection{
        display: block;
        justify-content: center;
    }
    .postQuestion{
        font-size: 12px;
        display: block;
    }
}