.default{
    white-space: pre-wrap;
}

.game{
    white-space: pre-wrap;
    border: 1px solid var(--card-container-border);
    border-radius: 10px / 10px;
    background-color: var(--card-bg-color);
    padding: 1em;
}

.question{
    justify-content: start;
}