.answersContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    row-gap: 2em;
    width: 100%;
}

@media (max-width: 480px){
    .answersContainer{
        grid-auto-rows: minmax(2em, auto);
        row-gap: 5em;
        column-gap: 5em;
    }
}
